
extends ./layout
block contenido
  main
    section.main-section
      .main-section-title
        h3 Accesorios
        p
          |Estas son todas las accesorios disponibles en nuestras instalaciones. Ante cualquier pregunta puede contactarnos al 
          span 58156518
      for accesorio in accesorios
        article.container-pet-article
          .container-pet-header
            h4.pet-title=accesorio.type
          .container-pet
            .container-pet-img
              img(alt='accesorio' id=`${accesorio._id}` extension=`.${accesorio.imgExtension}` src="/public/img/accesorios/")
            .pet-info-container
              .pet-info-list-container
                ul.pet-info-list

                .pet-description
                  span.pet-info-element-title Descripción:
                  p=accesorio.description 

              .container-price
                span.pet-info-element-title Precio: 
                span.pet-info-element.price=accesorio.price+'$'
              .container-btn-buy
                .btn-buy
                  input(type="hidden" value=accesorio.cnt)
                  input(type="hidden" value=accesorio._id)
                  span Me Interesa     
                  img(src='/public/img/res/basket.svg', alt)
      .modal-back.modal-back-buy-this
        .modal.modal-buy-this
          .modal-header Me Interesa
          .modal-body.modal-body-buy
            | Introduzca la cantidad q le gustaria nos pondremos en contacto con usted para
            | confirmar

            br
            |
            | Indique la cantidad q le interesa: Max 
            span#cnt
            form#buy-form(method="post" action="/accesorios/ordenes/")
              input.spin-box-buy(type="number" min="1" value ="1" name="cnt")
            .btns-buy-container

              button#accept-btn-buy.accept-btn(type="button") Comprar
              button#cancel-btn-buy.cancel-btn(type="button") Cancelar
      #modal-back-completed.modal-back
        #modal-completed.modal.modal-completed
          .modal-body.modal-body-completed
            .circle
              img.circle-ok(src="/public/img/res/checked.svg" alt)
            span.completed Completado
//- block  footer
