extends ./admin-layout.pug
block contenido
  div(class="container top-space")
    for orden in ordenes
      .border.tr
        .row
          .col-md-7.col-sm-4
            h3 Tipo: #{orden.articleType}
            h3 Nombre del dueño: #{orden.owner.name}
            h3 Télefono del dueño: #{orden.owner.phone}
            h3 Cantidad de articulos: #{orden.cnt}
            h3 Precio total: #{orden.price}
            h3 Estado: #{orden.state}
            form(action=`/admin/ordenes/${orden._id}?_method=PUT` method="POST")
              select(name="state")
                option pendient
                option aproved
                option onway
                option completed
                option canceled
              input(type="submit" value="Actualizar")
          .col-md-2.col-sm-2.container.flex-container
            a(href=`/admin/${orden.articleType}s/${orden.articleId._id}` class="link-primary right-space") Ver Artículo
            form(action=`/admin/ordenes/${orden._id}?_method=PUT` method="POST" class="link-container right-space")
              input(type="submit" value="Marcar como vendido" class="link-success") 
            form(action=`/admin/ordenes/${orden._id}?_method=DELETE` method="POST" class="link-container delete-form")
              input(type="submit" value="Eliminar" class="link-danger") 

