extends ./admin-layout.pug
block contenido
  main.main-admin  
    h3.main-title Listado de las órdenes de los usuarios
    article.main-container 
      //-Esto es ordenados por nombre de usuario
      -let userList = [];
      if ordenes.length
        - ordenes.sort(function(a,b){
        - return (a.user.username < b.user.username) ? -1 : (a.user.username > b.user.username) ? 1 : 0;
        - });
        //- Aqui guardo en el arreglo userList en cada posicion un arreglo con el nombre de usuario en la 1ra posicion y en la 2da posicion todas las ordenes asociadas a ese nombre de usuario, y asi hago lo mismo con cada usuario que tenga ordenes.
        //-De esta manera userList: 
        //- [0] [Jmlopez, ordenes...] 
        //- [1] [Rafa01, ordenes...] 
        //- [2] [Malopez, ordenes...] 
        - userList = [], cont = 0;
        - let currentUser = ordenes[0].user.username;
        - userList.push([currentUser]);
        - for(val of ordenes){
        -   if(val.user.username == currentUser){
        -       userList[cont].push(val);
        -   }
        -  else{
        -       cont++;
        -       currentUser = val.user.username;
        -       userList.push([currentUser, val]);    
        -   }
        -}
      each user in userList
        input( class="hidden-input-username" type = "hidden" value = `${user[0]}`)
        input( class="hidden-input-name" type = "hidden" value = `${user[1].user.name}`)
        input( class="hidden-input-lastname" type = "hidden" value = `${user[1].user.lastname}`)
        input( class="hidden-input-phone" type = "hidden" value = `${user[1].user.phone}`)
        input( class="hidden-input-address" type = "hidden" value = `${user[1].user.address}`)
        input( class="hidden-input-email" type = "hidden" value = `${user[1].user.email}`)
        .user-orders  
          strong.btn.username #{user[0]}
          .order-selection 
            button.btn.btn-pets  Mascotas  
            button.btn.btn-articles  Accesorios
        section.table-container.pets-table
          h3.table-title Listado de Mascotas
          table.main-table 
            thead.main-table__header 
              th.table-cell.table-cell--header Tipo 
              th.table-cell.table-cell--header Nombre  
              th.table-cell.table-cell--header Precio 
              th.table-cell.table-cell--header Cantidad
              th.table-cell.table-cell--header Acción 
              th.table-cell.table-cell--header Estado 
              th.table-cell.table-cell--header Eliminar
            tbody.main-table__body 
              each order in user
                if order.type == "pet"
                  tr.table-row 
                    td.table-cell(data-header="Tipo") Mascota
                    td.table-cell(data-header="Raza") #{order.user.name}
                    td.table-cell(data-header="Precio") #{order.price}
                    td.table-cell(data-header="Cantidad") #{order.cnt}
                    td.table-cell(data-header="Acción")  
                      a.btn.btn-go-article(href=`/admin/mascotas/${order.pet}`) Ver Mascota
                    td.table-cell(data-header="Estado") 
                      form.update-state-form(action=`/admin/ordenes/${order._id}?_method=PUT` method="POST")
                        .radio-group
                          if order.state == "pendient"
                            label(style=`color: #007bff`)    
                              input(type="radio" name = "state" value="pendient" checked autocompleted)
                              | Pendiente
                        .radio-group 
                          -color = "#007bff"
                          -if(order.state != "aproved"){
                          -  color = "inherit"
                          -}
                          label(style=`color: ${color}`)    
                            if order.state == "aproved"
                              input(type="radio" name = "state" value="aproved" checked autocompleted)  
                            else 
                              input(type="radio" name = "state" value="aproved")  
                            | Aprobada
                        .radio-group 
                          label    
                            input( type="radio" name = "state" value="completed") 
                            | Completada
                        //- select.select-input(name="state")
                        //-   if order.state == "pendient"
                        //-     option(selected value = "pendient") Pendiente
                        //-     option(value = "aproved") Aprobada
                        //-     option(value = "completed") Completada
                        //-   if order.state == "aproved"
                        //-     option(value = "pendient") Pendiente
                        //-     option(selected value = "aproved") Aprobada
                        //-     option(value = "completed") Completada
                        //-   if order.state == "completed"
                        //-     option(value = "pendient") Pendiente
                        //-     option(value = "aproved") Aprobada
                        //-     option(selected value = "completed") Completada
                        input.btn.btn-update(type="submit" value="Actualizar")

                    td.table-cell(data-header="Eliminar")            
                      form(data-orderId=order.id action=`/admin/ordenes/${order.id}?_method=DELETE` method="POST" class="link-container delete-form" )
                        button(type="submit" class="btn btn-delete")  
                          img(src="/public/img/res/borrar.webp")
                  //- tr
                  //-   td(colspan = "7")  
                  //-     form(action=`/admin/ordenes/${order._id}?_method=PUT` method="POST" class="form-mark-as-sold")
                  //-       input.btn.btn-mark-as-sold(type="submit" value="Marcar como vendido")               
        section.table-container.articles-table
          h3.table-title Listado de Accesorios
          table.main-table 
            thead.main-table__header 
              th.table-cell.table-cell--header Tipo   
              th.table-cell.table-cell--header Precio 
              th.table-cell.table-cell--header Cantidad
              th.table-cell.table-cell--header Acción 
              th.table-cell.table-cell--header Estado 
              th.table-cell.table-cell--header Eliminar
            tbody.main-table__body 
              each order in user
                if order.type == "accesorie"
                  tr.table-row 
                    td.table-cell(data-header="Tipo") Accesorio
                    td.table-cell(data-header="Precio") #{order.price}
                    td.table-cell(data-header="Cantidad") #{order.cnt}
                    td.table-cell(data-header="Acción")  
                      a.btn.btn-go-article(href=`/admin/accesorios/${order.accesorie}`) Ver Articulo
                    td.table-cell(data-header="Estado") 
                      form.update-state-form(action=`/admin/ordenes/${order._id}?_method=PUT` method="POST")
                        .radio-group
                          if order.state == "pendient"
                            label(style=`color: #007bff`)    
                              input(type="radio" name = "state" value="pendient" checked autocompleted)
                              | Pendiente
                        .radio-group 
                          -color = "#007bff"
                          -if(order.state != "aproved"){
                          -  color = "inherit"
                          -}
                          label(style=`color: ${color}`)    
                            if order.state == "aproved"
                              input(type="radio" name = "state" value="aproved" checked autocompleted)  
                            else 
                              input(type="radio" name = "state" value="aproved")  
                            | Aprobada
                        .radio-group 
                          label   
                            input( type="radio" name = "state" value="completed") 
                            | Completada

                        //- select.select-input(name="state")
                        //-   if order.state == "pendient"
                        //-     option(selected value = "pendient") Pendiente
                        //-     option(value = "aproved") Aprobada
                        //-     option(value = "completed") Completada
                        //-   if order.state == "aproved"
                        //-     option(value = "pendient") Pendiente
                        //-     option(selected value = "aproved") Aprobada
                        //-     option(value = "completed") Completada
                        //-   if order.state == "completed"
                        //-     option(value = "pendient") Pendiente
                        //-     option(value = "aproved") Aprobada
                        //-     option(selected value = "completed") Completada
                        input.btn.btn-update(type="submit" value="Actualizar")
                    td.table-cell(data-header="Eliminar")            
                      form(data-orderId=order.id action=`/admin/ordenes/${order.id}?_method=DELETE` method="POST" class="delete-form" )
                        button(type="submit" class="btn btn-delete")  
                          img(src="/public/img/res/borrar.webp") 
                  //- tr
                  //- td(colspan = "7")  
                  //- form(action=`/admin/ordenes/${order._id}?_method=PUT` method="POST" class="form-mark-as-sold")
                  //- input.btn.btn-mark-as-sold(type="submit" value="Marcar como vendido") 
    .modal-back  
      .modal 
        .modal-header 
          h3 Datos de 
            span#modal-username Jmlopez    
        .modal-body
          .flex-container 
            h5.flex-container__title Nombre: 
            span.modal-val#modal-name Jesus Manuel 
          .flex-container 
            h5.flex-container__title Apellido: 
            span.modal-val#modal-lastname Lopez Ponce
          .flex-container 
            h5.flex-container__title Teléfono: 
            span.modal-val#modal-phone 56434456 
          .flex-container 
            h5.flex-container__title Dirección: 
            span.modal-val#modal-address Comunidad MINIT #2 
          .flex-container 
            h5.flex-container__title Correo: 
            span.modal-val#modal-email jmlopezponce@gmail.com 
      button.close-modal 
        img(src="/public/img/admin/close.webp" alt="")

    script(src="/public/js/admin-ordenes.js")
