doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name="content-language" content="es-ES")
    meta(name="language" content="spanish")
    meta(name="version" content="1.0")
    meta(name="copyright" content="TuMascota - ©2021")
    meta(name="description" content="TuMascota, Tienda Online de Las Tunas, Cuba, en la que ofrecemos una amplia variedad de mascotas y accesorios")
    meta(name="keywords" content="tumascota, mascotas, comida mascotas, tienda online mascotas, las tunas, cuba, animales, accesorios, articulos, compras, tienda online accesorios, juguetes animales, alimento animales, correa perros, complementos, accesorios mascotas, articulos mascotas")
    title TuMascota - Tienda Online de Mascotas en Las Tunas
    link(rel='stylesheet' href='/public/css/shared.css')
    link(rel='stylesheet' href='/public/css/ordenes.css')
    link(rel='stylesheet' href='/public/css/index.css')
    link(rel='stylesheet' href='/public/css/alert-style.css')
    link(rel='stylesheet' href='/public/css/accesorios-style.css')
    link(rel='stylesheet' href='/public/css/mascotas-style.css')
    link(rel='stylesheet' href='/public/css/log-in.css')    
    link(rel='stylesheet' href='/public/css/buy-style.css') 
    //- <link rel="stylesheet" href="/public/css/log-in.css" /> 
    link(rel='icon' href='/public/img/res/shop.png')
  body
    header.main-header
      .main-header__container
        a.logo(href='/')
          img.logo__img(src='/public/img/res/Logo.png' alt)
        .main-header__container-login
          if user
            a.login-option.orders-login(href='/ordenes')
              img(src='/public/img/res/cart.png' alt)
              span.login-count-msj.orders-msj=user.orders
            |
            |
            #bell-login.login-option.bell-login
              img(src='/public/img/res/bell.png' alt)
              span.login-count-msj.bell-msj=user.newMessages
            |
            |
          if !user
            .go-login
              a.btn.btn-go-login(href='/users/login')
                img(src='/public/img/res/loginuser.png')
                | Acceder

              a.btn.btn-go-login(href='/users/register')
                img(src='/public/img/res/adduserblue.png' alt)
                | Registrarse
          if user
            .login-option
              img#avatar-login.avatar-login(src='/public/img/res/avatar.png' alt)
    if user
      article.account-menu__container
        section#account-section.account-section
          ul.account-submenu
            li.account-submenu__element--title Cuenta
            li.account-submenu__element
              a(href='/user/modify_profile')
                img(src='/public/img/res/settings.png' alt)
                | Modificar Perfil

            li.account-submenu__element
              a(href='/user/logout')
                img(src='/public/img/res/log-out.png' alt)
                | Salir

        article#bell-section.bell-section
          h4.bell-section___title
            | Notificaciones 
            span.bell-number=user.messages.length
          section.bell-submenu
            .bell-submenu__inner-container
              ul.bell-submenu__list
                for msg in user.messages
                  -const state = (msg.state == "new")?"bell-submenu__element--new" :"bell-submenu__element--old";
                  li.bell-submenu__element(class=state id=msg._id)=msg.msg
                    span.bell-time=msg.fullDate
                    span.remove-notifications
                      img(src='/public/img/res/three-dots.png' alt)
                      img(src='/public/img/res/trash.png' alt)
                  
          .show-all-notifications.

            Ver todas las notificaciones

    .menu-icon__container
      img.menu-icon(src='/public/img/res/menu-icon.png' alt)
    nav.nav-menu
      .nav-menu__inner-container
        .nav-menu__content
          img.nav-menu__login-logo(src='/public/img/res/Logo.png' alt)
          .nav-menu__login
            .main-header__container-login
              if user
                a.login-option.orders-login(href='/ordenes')
                  img(src='/public/img/res/cart.png' alt)
                  span.login-count-msj.orders-msj=user.orders
                |
                |
                .login-option.bell-login
                  img(src='/public/img/res/bell.png' alt)
                  span.login-count-msj.bell-msj=user.newMessages
                |
                |
              if !user
                .go-login
                  a.btn.btn-go-login(href='/users/login')
                    img(src='/public/img/res/loginuser.png')
                    | Acceder

                  a.btn.btn-go-login(href='/users/register')
                    img(src='/public/img/res/adduserblue.png' alt)
                    | Registrarse
              if user
                .login-option
                  img#avatar-login.avatar-login(src='/public/img/res/avatar.png' alt)
          .nav-menu__element(class=path === "/" && "nav-menu__element--active")
            a.nav-menu__link(href='/')
              img(src='/public/img/res/dog-home.png' alt)
              span  Inicio
              
          .nav-menu__element(class=path.startsWith("/mascotas")  && "nav-menu__element--active")
            #pet-submenu.nav-menu__link
              img(src='/public/img/res/pet.png' alt)
              span  Mascotas 
              .show-submenu-container
                img.show-submenu-img(src='/public/img/res/next.png' alt)
              .submenu
                ul.submenu-list
                  a.submenu-element(href='/mascotas')
                    img(src='/public/img/res/dog.png' alt)
                    | Perros

                  a.submenu-element(href='/mascotas')
                    img(src='/public/img/res/cat.png' alt)
                    | Gatos

                  a.submenu-element(href='/mascotas')
                    img(src='/public/img/res/macaw.png' alt)
                    | Aves

                  a.submenu-element(href='/mascotas')
                    img(src='/public/img/res/roedor.png' alt)
                    | Roedor

                  a.submenu-element(href='/mascotas')
                    img(src='/public/img/res/fish.png' alt)
                    | Peces

                  a.submenu-element(href='/mascotas')
                    img(src='/public/img/res/tortoise.png' alt)
                    | Otros

          .nav-menu__element(class=path.startsWith("/accesorios")  && "nav-menu__element--active")
            a.nav-menu__link(href='/accesorios')
              img(src='/public/img/res/accesorios.png' alt)
              span  Accesorios
          .nav-menu__element(class=path.startsWith("/servicios")  && "nav-menu__element--active")
            #services-menu.nav-menu__link
              img(src='/public/img/res/doctor.png' alt)
              span  Servicios 
              .show-submenu-container
                img.show-submenu-img(src='/public/img/res/next.png' alt)
              .submenu
                ul.submenu-list
                  li.submenu-element
                    img(src='/public/img/res/stethoscope.png' alt)
                    | Veterinario

          .nav-menu__element.contact-us
            .nav-menu__link
              img(src='/public/img/res/phone-blue.png' alt)
              span  Contáctenos
          .nav-menu__element.about-us
            .nav-menu__link
              img(src='/public/img/res/info.png' alt)
              span  Acerca De
  != messages()
  block contenido

  footer.main-footer
    .main-footer__logo
      img(src='/public/img/res/Logo.png' alt)
      strong.copyright © 2021- Todos los derechos reservados
    .main-footer__social-media
      a(href='#')
        img(src='/public/img/res/facebook.png' alt)
      a(href='#')
        img(src='/public/img/res/whatsapp.png' alt)
      a(href='#')
        img(src='/public/img/res/telegram.png' alt)
    |
    |
    .main-footer__info
      p
        | Hemos construido 
        strong Tumascota
        |  porque amamos a los animales. Si le gusta la página o tiene alguna sugerencia puede llamarnos al 
        strong 58156518
        |  o puede enviarnos un correo electrónico a 

        strong tumascota@nauta.cu 
        | así como tus comentarios, son bienvenidos.

    .main-footer__content
      .main-footer__element
        h4 Contenido
        ul.main-footer__list
          li.main-footer__item
            a(href='/') Inicio
          |
          |
          li.main-footer__item
            a(href='/mascotas') Mascotas
          |
          |
          li.main-footer__item
            a(href='/accesorios') Accesorios
          |
          |
          li.main-footer__item
            a(href='/servicios') Servicios
      |
      |
      .main-footer__element
        h4 Contacto
        ul.main-footer__list
          li.main-footer__item.contact-us
            | Contáctanos
            |
            |
            img(src='/public/img/res/phone-blue.png' alt)
          |
          |
          li.main-footer__item.about-us
            | Acerca De
            |
            |
            img(src='/public/img/res/info.png' alt) 
      |
      |
      .main-footer__element
        h4 Redes Sociales
        ul.main-footer__list
          li.main-footer__item
            | Facebook
            |
            |
            img(src='/public/img/res/facebook.png' alt)
          |
          |
          li.main-footer__item
            | Whatsapp
            |
            |
            img(src='/public/img/res/whatsapp.png' alt)
          |
          |
          li.main-footer__item
            | Telegram
            |
            |
            img(src='/public/img/res/telegram.png' alt)
  .go-top
    a(href='#main')
      img.go-top-icon(src='/public/img/res/next.png' alt)
  //  modal contact-us 
  #modal-back-contact.modal-back
    #modal-contact.modal
      .modal__header
        | Contactános
        
        button.modal-close(type='submit')
          img.modal-close__icon(src='/public/img/res/close-white.png' alt)
      .modal__body
        h4.modal-body__header.
          ¿Tienes alguna pregunta? Contáctanos:
        .modal__contact-us
          .modal__contact-us-element
            img(src='/public/img/res/mail.png' alt)
            |
            |
            span tumascota@nauta.cu
          .modal__contact-us-element
            img(src='/public/img/res/whatsapp.png' alt)
            |
            |
            span 58156518
          .modal__contact-us-element.modal__contact-us-facebook
            a(href='#')
              img(src='/public/img/res/facebook.png' alt)
            |
            |
            span TuMascota
          .modal__contact-us-element.modal__contact-us-telegram
            a(href='#')
              img(src='/public/img/res/telegram.png' alt)
              |
              |
              span TuMascota
  #modal-back-about.modal-back
    #modal-about.modal
      .modal__header  Acerca de
        button.modal-close(type='submit')
          img.modal-close__icon(src='/public/img/res/close-white.png' alt)
      .modal__body
        h4.modal-body__header Creado y Desarrollado en Las Tunas por:
        .modal__container-us
          .avatar-rafa
            img(src='/public/img/res/avatar-rafa.png' alt)
            span.name Rafael Acosta Márquez
          |
          |
          .avatar-jesus
            img(src='/public/img/res/avatar-jesus.png' alt)
            span.name Jesús Manuel López Ponce
        .avatar-abraham
          h4.modal-body__header.

            Con una idea original de:

          span.name Sadan Jiskly Fernández Ávila
          span.name José Abraham Oduardo Ávila

  block scripts
  //- script(src="/public/js/shared.js")
  //- script(src="/public/js/index.js")
  //- script(src="/public/js/menu.js")
  //- script(src="/public/js/modal-alert-cancel.js")