extends ./layout
block contenido
 
  main#main
    section.main-section.mar10
      .main-section-title
        h3 Mascotas

          .underline
            span
            img(src='/public/img/res/pata.png' alt)
            span

      section.filter
        span Aqui puede filtrar las mascotas: 
        button.btn.filter-btn
          | Filtrar por 

          img(src='/public/img/res/next.png' alt)
        form.filter-form(action)
          .group-filter
            .group-filter__element
              label.filter-element(for='perro')
                img(src='/public/img/res/dog.png' alt)
                |
                |
                | Perro
              |
              |
              label(for='perro')
                input#perro.checkbox-input(type='checkbox' name='perro' checked=perro)
                span.my-checkbox
            |
            |
            .group-filter__element
              label.filter-element(for='gato')
                img(src='/public/img/res/cat.png' alt)
                |
                |
                | Gato
              |
              |
              label(for='gato')
                input#gato.checkbox-input(type='checkbox' name='gato' checked=gato)
                span.my-checkbox
            |
            |
            .group-filter__element
              label.filter-element(for='ave')
                img(src='/public/img/res/macaw.png' alt)
                |
                |
                | Aves
              |
              |
              label(for='ave')
                input#ave.checkbox-input(type='checkbox' name='ave' checked=ave)
                span.my-checkbox
          |
          |
          .group-filter
            .group-filter__element
              label.filter-element(for='roedor')
                img(src='/public/img/res/roedor.png' alt)
                |
                |
                | Roedor
              |
              |
              label(for='roedor')
                input#roedor.checkbox-input(type='checkbox' name='roedor' checked=roedor)
                span.my-checkbox
            |
            |
            .group-filter__element
              label.filter-element(for='pez')
                img(src='/public/img/res/fish.png' alt)
                |
                |
                | Peces
              |
              |
              label(for='pez')
                input#pez.checkbox-input(type='checkbox' name='pez' checked=pez)
                span.my-checkbox
            |
            |
            .group-filter__element
              label.filter-element(for='otros')
                img(src='/public/img/res/tortoise.png' alt)
                |
                |
                | Otros
              |
              |
              label(for='otros')
                input#otros.checkbox-input(type='checkbox' name='otros' checked=otros)
                span.my-checkbox

          .filter-form__submit
            input.btn.filter-btn-sub(type='submit' value='Filtrar')
      .flex-container.pet-flex
        for mascota in mascotas
          article.article-container.mar10(id=mascota.id)
            .article-header
              h4.article-name=mascota.type
            .article-img-container.pet-image
              if mascota.images[0]
                img.article-img(alt='Mascota' src=mascota.images[0].url)
            .article-info
              .article-description
                ul.article-info-list
                  li.article-info-back.article-info-element
                    span.article-info-title(data-pet-breed=mascota.breed)   Raza:  
                    |  #{mascota.breed}
                  |
                  |
                  li.article-info-back.article-info-element
                    span.article-info-title Sexo:  
                    |  #{mascota.sex}
                  |
                  |
                  li.article-info-back.article-info-element
                    span.article-info-title Fecha de Nacimiento:    
                    |  #{mascota.birthDay}
                  |
                  |
                  li.article-info-element
                    span.article-info-title Descripción:  
                    p.article-info-back=mascota.description
                  |
                  |
                  li.article-info-back.article-info-element
                    span.article-info-title Cantidad:  
                    | #{mascota.cnt}
                  |
                  |
                  li.article-info-back.article-info-element
                    span.article-info-title Precio:  
                    span.price=mascota.price +'$'
              .container-btn-buy
                .btn-buy
                  input(type='hidden' value=mascota.cnt id=mascota._id)
                  span Me Interesa
                  |
                  |
                  img(src='/public/img/res/basket.png', alt)

      #modal-back-need-account.modal-back.modal-back-need-account
        #modal-need-account.modal
          .modal__header Me Interesa
            button.modal-close
              img.modal-close__icon(src="/public/img/res/close-white.png", alt="")  
          .modal__body.need-account 
            h4 Para poder acceder a nuestros artículos necesitas estar registrado
            .need-account__btn
              span
                button.btn.btn-need-account
                  a(href="/users/register")
                    img(src="/public/img/res/adduserblue.png", alt="") 
                    | Registrarte   
      .modal-back.modal-back-buy
        .modal.modal-buy
          .modal__header Me Interesa
          .modal__body.modal-body__buy
            | Ha seleccionado
            span#modal-article-type
            |  de la raza 
            span#modal-pet-breed Chaw Chaw
            br
            | Indique la cantidad que le Interesa: Max
            span#max-cnt
            form#buy-form(method="post" action="/mascotas/ordenes/")
              button.less-btn(type='button')
              input.spin-box-buy(type='text' value='1' max='8' name='cnt')
              button.plus-btn(type='button')
            | Nos pondremos en contacto con usted a través de los datos de su cuenta

            .btns-buy-container
              button#cancel-btn-buy.btn.cancel-btn(type='submit') Cancelar
              button#accept-btn-buy.btn.accept-btn(type='submit') Confirmar
              
      //- #modal-back-completed.modal-back
      //-   #modal-completed.modal.modal-completed
      //-     .modal-body.modal-body-completed
      //-       .success-checkmark
      //-         .check-icon
      //-           span.icon-line.line-tip
      //-           span.icon-line.line-long
      //-           .icon-circle
      //-           .icon-fix
      //-       span.completed Completado
  //- script(src="/public/js/mascotas.js") 
block scripts
  script(src="/public/js/shared.js")
  script(src="/public/js/menu.js")
  script(src="/public/js/buy-modal.js")
  script(src="/public/js/fetch.js")
  script(src="/public/js/user-option.js")
  script(src="/public/js/mascotas.js")
  script(src="/public/js/galeria-articulos.js")
  script(src="/public/js/alert.js")
  script(src="/public/js/modal-completed.js")

//- block  footerria-articulos.js")
  script(src="/public/js/alert.js")
  script(src="/public/js/modal-completed.js")

//- block  footer")
  script(src="/public/js/galeria-articulos.js")
  script(src="/public/js/alert.js")
  script(src="/public/js/modal-completed.js")

//- block  footer