extends ./layout
block contenido
  main#main
    section#login-section.login-section
      h3.login-section__title
        | Modificar Perfil

        .underline
          span
          img(src='/public/img/res/pata.webp' alt)
          span
      .login-section__container
        .login-section__header
        .logo-user
          img(src='/public/img/login/user.webp' alt)
        img.login-section__logo(src='/public/img/res/Logo.webp' alt)
        h4.user-title Hola! #{user.username}
        p.

          Usaremos los datos introducidos aquí para ponernos en contacto con usted.

        form#modify-user-form.login-section__form.login-section__form--register(action='/user/modify_profile?_method=PUT' method='post')
          .form-container
            label.form-container__img(for='name')
              img(src='/public/img/login/datos.webp' alt)
            |
            |
            input#name(autofocus type='text' name='name' value=user.name required)
            label.placeholder.move-placeholder(for='name') Nombre(s)
          .form-container
            label.form-container__img(for='lastname')
              img(src='/public/img/login/datos.webp' alt)
            |
            |
            input#lastname(type='text' name='lastname' value=user.lastname required)
            label.placeholder(for='lastname') Apellido(s)
          .form-container
            label.form-container__img(for='phone')
              img(src='/public/img/login/phone.webp' alt)
            |
            |
            input#phone(type='tel' name='phone' maxlength='8' value=user.phone required)
            label.placeholder(for='phone') Número de Teléfono
          .form-container
            label.form-container__img(for='address')
              img(src='/public/img/login/address.webp' alt)
            |
            |
            input#address(name='address' value=user.address required)
            label.placeholder(for='address') Dirección
          .form-container
            label.form-container__img(for='password')
              img(src='/public/img/login/password.webp' alt)
            |
            |
            input#password.password(type='password' name='password')
            label.placeholder(for='password') Contraseña
            span#show-password.show-password
              img(src='/public/img/login/show-eye.webp' alt)
          .form-container
            label.form-container__img(for='confirm_password')
              img(src='/public/img/login/password.webp' alt)
            |
            |
            input#confirm-password.password(type='password' name='password2')
            label.placeholder(for='confirm-password') Confirmar Contraseña
            span#confirm-show-password.show-password
              img(src='/public/img/login/show-eye.webp' alt)
          label(for='checkbox')
            input#checkbox.checkbox-input(type='checkbox' name='notify' checked=user.receiveNotification)
            |
            |
            span.my-checkbox
            |
            |
            span.msg-checkbox Notificarme productos nuevos
          div
            input.btn(type='submit' value='Modificar')
            |
            |
            a.btn.btn-cancel(href='/' type='submit').

              Cancelar
block scripts            
  script(src='/public/js/shared.js')
  script(src='/public/js/login.js')
  script(src='/public/js/user-option.js')
  script(src='/public/js/modal-completed.js')
  script(src='/public/js/alert.js')
  script(src='/public/js/fetch.js')
    //- script(src='/public/js/forgot-password.js')

