extends ./layout
block contenido
  main#main
    section#login-section.login-section
      .login-section__container
        .login-section__header
          a.close-login(href='index.html')
            img(src='/public/img/login/close.png' alt)
        .logo-user
          img(src='/public/img/login/user.png' alt)
        img.login-section__logo(src='/public/img/res/Logo.png' alt)
        p.

          Usaremos los datos introducidos aquí para ponernos en contacto con usted.

        form.login-section__form.login-section__form--register(action='/users/modify_profile?_method=PUT' method='post')
          .form-container
            label.form-container__img(for='name')
              img(src='/public/img/login/datos.png' alt)
            input#name(autofocus type='text' name='name' value=user.name required)
            label.placeholder.move-placeholder(for='name') Nombre(s)
          .form-container
            label.form-container__img(for='lastname')
              img(src='/public/img/login/datos.png' alt)
            input#lastname(type='text' name='lastname' value=user.lastName required)
            label.placeholder(for='lastname') Apellido(s)
          .form-container
            label.form-container__img(for='phone')
              img(src='/public/img/login/phone.png' alt)
            input#phone(type='tel' name='phone' maxlength='8' value=user.phone required)
            label.placeholder(for='phone') Número de Teléfono
          .form-container
            label.form-container__img(for='address')
              img(src='/public/img/login/address.png' alt)
            input#address(name='address' value=user.address required)
            label.placeholder(for='address') Dirección
          .form-container
            label.form-container__img(for='username')
              img(src='/public/img/login/user-input.png' alt)
            input#username(type='text' name='username' value=user.username required)
            label.placeholder(for='username') Nombre de Usuario
          .form-container
            label.form-container__img(for='password')
              img(src='/public/img/login/password.png' alt)
            input#password.password(type='password' name='password' )
            label.placeholder(for='password') Contraseña
            span#show-password.show-password
              img(src='/public/img/login/show-eye.png' alt)
          .form-container
            label.form-container__img(for='confirm_password')
              img(src='/public/img/login/password.png' alt)
            input#confirm-password.password(type='password' name='password2' )
            label.placeholder(for='confirm-password') Confirmar Contraseña
            span#confirm-show-password.show-password
              img(src='/public/img/login/show-eye.png' alt)
          label(for='checkbox')
            input#checkbox.checkbox-input(type='checkbox' name='checkbox')
            span.my-checkbox
          label(for='checkbox') Notificarme productos nuevos
          div
            input.btn(type='submit' value='Modificar')
            a.btn.btn-cancel(href='/index.html' type='submit').

              Cancelar

