extends ./layout.pug
block contenido
  main#main
    article.main-section.mar10
      .main-section-title
        h3.login-section__title Órdenes
          .underline
            span
            img(src='public/img/res/pata.png' alt)
            span
      section.order-alert
        img(src='public/img/ordenes/atencion.png' alt)
        .order-alert__content
          span.order-alert__info.

            Usted no podrá cancelar las órdenes aprobadas

      .filter-orders-menu
        span.active.order-state.filter-order(data-state='pendient')
          | Pendientes
          |
          |
          img.pendient(src='/public/img/ordenes/pendiente.png' alt)
        |
        |
        span.order-state.filter-order(data-state='aproved')
          | Aprobadas
          |
          |
          img(src='/public/img/ordenes/completadas.png' alt)
        |
        |
        span.order-state.filter-order(data-state='completed')
          | Completadas
          |
          |
          img(src='/public/img/ordenes/checked.png' alt)
        |
        |
        span.order-state.filter-order(data-state='canceled')
          | Canceladas
          |
          |
          img(src='/public/img/ordenes/borrar.png' alt)
      section.order-section
        h1.order-section__title Listado de Mascotas
        table.order-section__table.order-section--pet
          thead.order-section__cell.order-section__header
            tr
              th.order-section__column.order-section__column--header.

                Raza

              th.order-section__column.order-section__column--header.

                Sexo

              th.order-section__column.order-section__column--header.

                Nacimiento

              th.order-section__column.order-section__column--header.

                Precio

              th.order-section__column.order-section__column--header.

                Cantidad

              th.order-section__column.order-section__column--header.

                Fecha del Pedido

              th.order-section__column.order-section__column--header.

                Estado

              th.order-section__column.order-section__column--header.delete-column.

                Cancelar

          tbody
            for orden of mascotas
              tr.order-section__cell
                td.order-section__column(data-header='Raza')=orden.pet.breed
                td.order-section__column(data-header='Sexo')=orden.pet.sex
                td.order-section__column(data-header='Nacimiento')=orden.pet.birthDay
                td.order-section__column(data-header='Precio')=orden.price +'$'
                td.order-section__column(data-header='Cantidad')=orden.cnt
                td.order-section__column(data-header='Fecha del Pedido')=orden.fullDate
                td.order-section__column.order-section__state(data-header='Estado') 
                  span.order-state(data-state=orden.state)=orden.state
                td.order-section__column(data-header='Cancelar')
                  button.btn.cancel-order(type='submit')
                    img(src='/public/img/ordenes/borrar.png' alt)
              |
              |
      // Ordenes de accesorios
      section.order-section
        h1.order-section__title Listado de Accesorios
        table.order-section__table.order-section--article
          thead.order-section__cell.order-section__header
            tr
              th.order-section__column.order-section__column--header(colspan='3').
                Artículo
              th.order-section__column.order-section__column--header.
                Precio
              th.order-section__column.order-section__column--header.
                Cantidad
              th.order-section__column.order-section__column--header.
                Fecha del Pedido
              th.order-section__column.order-section__column--header.
                Estado
              th.order-section__column.order-section__column--header.delete-column.
                Cancelar
          tbody
            for orden of accesorios
              tr.order-section__cell
                td.order-section__column(colspan='3' data-header='Artículo')=orden.accesorie.type
                td.order-section__column(data-header='Precio')=orden.price+'$'
                td.order-section__column(data-header='Cantidad')=orden.cnt
                td.order-section__column(data-header='Fecha del Pedido')=orden.fullDate
                td.order-section__column.order-section__state(data-header='Estado')
                  span.order-state(data-state=orden.state)=orden.state
                td.order-section__column(data-header='Cancelar')
                  button.btn.cancel-order(type='submit')
                    img(src='/public/img/ordenes/borrar.png' alt)
        #modal-back-alert.modal-back
          #modal-alert.modal.modal-alert
            .modal__body.modal-body__alert
              .alert-icon
                span.alert-icon-long
                span.alert-icon-short  
              span.alert-text.
                
                ¿Está seguro que desea cancelar la orden?
              .btn-alert-container
                button.btn-alert.btn-alert-cancel(type='submit').

                  No

                button.btn-alert.btn-alert-confirm(type='submit').

                  Si

        #modal-back-completed.modal-back
          #modal-completed.modal.modal-completed
            .modal__body.modal-body__completed
              .success-checkmark
                .check-icon
                  span.icon-line.line-tip
                  span.icon-line.line-long
                  .icon-circle
                  .icon-fix
              span.completed Completado
  script(src="/public/js/modal-alert-cancel.js") 
  script(src="/public/js/ordenes.js") 