extends ./layout.pug
block contenido
  main#main
    article.main-section.mar10
      .main-section-title
        h3.login-section__title Órdenes
          .underline
            span
            img(src='public/img/res/pata.webp' alt)
            span
      section.order-alert
        img(src='/public/img/res/atencion.webp' alt)
        .order-alert__content
          span.order-alert__info.

            Usted no podrá cancelar las órdenes aprobadas
      .contact-btns 
        a(href="tel:+5358156518") 
          img(src="/public/img/res/phone-blue.webp", alt="")
          | Llámanos al 
          strong  +5358156518
        a(href="mailto:tumascota@nauta.cu")  
          img(src="/public/img/res/mail.webp", alt="")
          | Escribénos a 
          strong tumascota@nauta.cu
      .filter-orders-menu
        button.active.order-state.filter-order(data-state='pendient')
          span Pendientes 
          img.pendient(src='/public/img/res/pendiente.webp' alt)
        button.order-state.filter-order(data-state='aproved')
          span Aprobadas
          img(src='/public/img/res/completadas.webp' alt)
        button.order-state.filter-order(data-state='completed')
          span Completadas
          img(src='/public/img/res/checked.webp' alt)
      section.order-section
        h1.order-section__title Listado de Mascotas
        table.order-section__table.order-section--pet
          thead.order-section__cell.order-section__header
            tr
              th.order-section__column.order-section__column--header.

                Raza

              th.order-section__column.order-section__column--header.

                Sexo

              th.order-section__column.order-section__column--header.

                Nacimiento

              th.order-section__column.order-section__column--header.

                Precio

              th.order-section__column.order-section__column--header.

                Cantidad

              th.order-section__column.order-section__column--header.

                Fecha del Pedido

              th.order-section__column.order-section__column--header.

                Estado

              th.order-section__column.order-section__column--header.delete-column.

                Cancelar

          tbody
            for orden of mascotas
              tr.order-section__cell(id=orden._id)
                td.order-section__column(data-header='Raza')=orden.pet.breed
                td.order-section__column(data-header='Sexo')=orden.pet.sex
                td.order-section__column(data-header='Nacimiento')=orden.pet.birthDay
                td.order-section__column(data-header='Precio')=orden.price +'$'
                td.order-section__column(data-header='Cantidad')=orden.cnt
                td.order-section__column(data-header='Fecha del Pedido')=orden.fullDate
                td.order-section__column.order-section__state(data-header='Estado') 
                  span.order-state(data-state=orden.state)=orden.getState()
                td.order-section__column(data-header='Cancelar')
                  button.btn.cancel-order(type='submit')
                    img(src='/public/img/res/borrar.webp' alt)
              |
              |
      // Ordenes de accesorios
      section.order-section
        h1.order-section__title Listado de Accesorios
        table.order-section__table.order-section--article
          thead.order-section__cell.order-section__header
            tr
              th.order-section__column.order-section__column--header(colspan='3').
                Artículo
              th.order-section__column.order-section__column--header.
                Precio
              th.order-section__column.order-section__column--header.
                Cantidad
              th.order-section__column.order-section__column--header.
                Fecha del Pedido
              th.order-section__column.order-section__column--header.
                Estado
              th.order-section__column.order-section__column--header.delete-column.
                Cancelar
          tbody
            for orden of accesorios
              tr.order-section__cell(id=orden._id)
                td.order-section__column(colspan='3' data-header='Artículo')=orden.accesorie.type
                td.order-section__column(data-header='Precio')=orden.price+'$'
                td.order-section__column(data-header='Cantidad')=orden.cnt
                td.order-section__column(data-header='Fecha del Pedido')=orden.fullDate
                td.order-section__column.order-section__state(data-header='Estado')
                  span.order-state(data-state=orden.state)=orden.getState()
                td.order-section__column(data-header='Cancelar')
                  button.btn.cancel-order(type='submit')
                    img(src='/public/img/res/borrar.webp' alt)
  #modal-back-alert.modal-back
    #modal-alert.modal.modal-alert
      .modal__body.modal-body__alert
        .alert-icon
          span.alert-icon-long
          span.alert-icon-short  
        span.alert-text.
          
          ¿Está seguro que desea cancelar la orden?
        .btn-alert-container
          button.btn-alert.btn-alert-cancel.
            No
          button.btn-alert.btn-alert-confirm.
            Si

        //- #modal-back-completed.modal-back
        //-   #modal-completed.modal.modal-completed
        //-     .modal__body.modal-body__completed
        //-       .success-checkmark
        //-         .check-icon
        //-           span.icon-line.line-tip
        //-           span.icon-line.line-long
        //-           .icon-circle
        //-           .icon-fix
        //-       span.completed Completado  

block scripts
  script(src="/public/js/shared.js")
  script(src="/public/js/menu.js")
  script(src="/public/js/ordenes.js")
  script(src="/public/js/user-option.js")
  script(src="/public/js/alert.js")
  script(src="/public/js/modal-alert-cancel.js")
  script(src="/public/js/modal-completed.js")