extends ./admin-layout.pug
block contenido
  div(class="container col-md-4 top-space")
    .d-flex.justify-content-center
      if pet.images[0]
        img(src=pet.images[0].url class="img-fluid img-thumbnail")
    form(action=`/admin/mascotas/${pet._id}?_method=PUT` method='POST' class="form-group" enctype="multipart/form-data")

      input(type="text" class="form-control" name="type" placeholder="Tipo de animal"  value=pet.type.toUpperCase())

      input(type="text" class="form-control" name="breed" placeholder="Raza" value=pet.breed)

      select.form-control(name="sex")
        option(value="") Selecciona el Sexo
        option(value="Masculino") Masculino
        option(value="Femenino") Femenino

      input(type="text" class="form-control" name="price" placeholder="Precio" value=pet.price)

      input(type="text" class="form-control" name="cnt" placeholder="Cantidad" value=pet.cnt)

      input(type="datetime-local " class="form-control" name="birthDay" placeholder="Año-Mes-Dia" value=pet.birthDay)

      input(type="text" class="form-control" name="description" placeholder="Descripción" value=pet.description)

      input(type="text" class="form-control" name="ownerName" placeholder="Nombre del dueño" required value=pet.ownerName)

      input(type="text" class="form-control" name="ownerPhone" placeholder="Télefono" required value=pet.ownerPhone)

      input(type="text" class="form-control" name="ownerAccount" placeholder="Cuenta bancaria" value=pet.ownerAccount)

      input(type="file" class="form-control" name="images" multiple)

      div(class="d-flex justify-content-sm-start justify-content-center")
        input(type="submit" class="btn btn-info" value="Guardar")