extends ./admin-layout.pug
block contenido
  main.main-admin
    button.btn.btn-go-back(onclick = "window.history.back()") 
      img(src="/public/img/admin/atras.png" alt="")
      | Atras
    h3.main-title Editar Mascota
    section.flex-container-img
      img(src=pet.images[0].url)
    form(action=`/admin/mascotas/${pet._id}?_method=PUT` method='POST' class="form-group" enctype="multipart/form-data")

      input(type="text" class="form-input" name="type" placeholder="Tipo de animal"  value=pet.type.toUpperCase())

      input(type="text" class="form-input" name="breed" placeholder="Raza" value=pet.breed)

      select.form-input(name="sex")
        option(value="") Selecciona el Sexo
        option(value="Masculino") Masculino
        option(value="Femenino") Femenino

      input(type="text" class="form-input" name="price" placeholder="Precio" value=pet.price)

      input(type="text" class="form-input" name="cnt" placeholder="Cantidad" value=pet.cnt)

      input(type="datetime-local " class="form-input" name="birthDay" placeholder="Año-Mes-Dia" value=pet.birthDay)

      input(type="text" class="form-input" name="description" placeholder="Descripción" value=pet.description)

      input(type="text" class="form-input" name="ownerName" placeholder="Nombre del dueño" required value=pet.ownerName)

      input(type="text" class="form-input" name="ownerPhone" placeholder="Télefono" required value=pet.ownerPhone)

      input(type="text" class="form-input" name="ownerAccount" placeholder="Cuenta bancaria" value=pet.ownerAccount)

      label.btn.select-file(for="file-selector") Seleccionar archivo
      div.file-selected  No ha seleccionado ningún archivo
      input.form-input(type="file" id="file-selector" multiple  name="images" accept="image/*" )

      .btn-save-container
        input(type="submit" class="btn btn-save" value="Guardar")
        a.btn.btn-cancel(href="/admin/mascotas") Cancelar
      script.
        const inputFile = document.querySelector("#file-selector");
        const filesSelected = document.querySelector(".file-selected");
        //Esto es para la seleccion de los archivos
        inputFile.addEventListener("change", function(){
          filesSelected.innerHTML = "";
          filesSelected.classList.remove("file-preview");
          const currentFiles = inputFile.files;
          if(currentFiles.length == 0){
            filesSelected.innerHTML = "No ha seleccionado ningún archivo";
          }
          else{
            let textPreview = "";
            for(file of currentFiles){
              textPreview += `<span>${file.name}</span> `;
            }
            filesSelected.innerHTML = `<h4> Ha seleccionado </h4> ${textPreview}`;
            filesSelected.classList.add("file-preview");
          }
        });