extends ./admin-layout.pug
block contenido
  main.main-admin
    button.btn.btn-go-back(onclick = "window.history.back()") 
      img(src="/public/img/admin/atras.png" alt="")
      | Atras
    h3.main-title Editar Mascota
    label.btn.btn-add-photo(for="file-selector")
      img(src="/public/img/admin/camera.png" alt="") 
      | Seleccionar Fotos
    section.gallery-section
      article.gallery(id = pet._id) 
        each img in pet.images
          .picture 
            img(id = img._id src=img.url)
            button.btn.btn-delete.btn-delete-photo
              img(src="/public/img/res/borrar.png", alt="") 
      .gallery-move 
        button.btn.btn-prev(type="submit")
          img(src="/public/img/admin/atras.png" alt="") 
        button.btn.btn-next(type="submit")
          img(src="/public/img/admin/adelante.png" alt="")
    form(id = "edit-pet" action=`/admin/mascotas/${pet._id}?_method=PUT` method='POST' class="form-group" enctype="multipart/form-data")

      input(type="text" class="form-input" name="type" placeholder="Tipo de animal"  value=pet.type.toUpperCase())

      input(type="text" class="form-input" name="breed" placeholder="Raza" value=pet.breed)

      select.form-input(name="sex")
        if pet.sex === "Masculino"
          option(value="Masculino" selected) Masculino
          option(value="Femenino") Femenino
        if pet.sex === "Femenino"
          option(value="Masculino") Masculino
          option(value="Femenino" selected) Femenino

      input(type="text" class="form-input" name="price" placeholder="Precio" value=pet.price)

      input(type="text" class="form-input" name="cnt" placeholder="Cantidad" value=pet.cnt)

      input(type="datetime-local " class="form-input" name="birthDay" placeholder="Año-Mes-Dia" value=pet.birthDay)

      input(type="text" class="form-input" name="description" placeholder="Descripción" value=pet.description)

      input(type="text" class="form-input" name="ownerName" placeholder="Nombre del dueño" required value=pet.ownerName)

      input(type="text" class="form-input" name="ownerPhone" placeholder="Télefono" required value=pet.ownerPhone)

      input(type="text" class="form-input" name="ownerAccount" placeholder="Cuenta bancaria" value=pet.ownerAccount)

      //- label.btn.select-file(for="file-selector") Seleccionar archivo
      //- div.file-selected  No ha seleccionado ningún archivo
      input.form-input(type="file" id="file-selector" multiple  name="images" accept="image/*" )

      .btn-save-container
        input(type="submit" class="btn btn-save" value="Guardar")
        a.btn.btn-cancel(href="/admin/mascotas") Cancelar
      script.
        const inputFile = document.querySelector("#file-selector"),
          formEditPet = document.querySelector("#edit-pet");
          inputsData = document.querySelectorAll(".form-input");
          btnConfirm = document.querySelector(".btn-save");
          gallery = document.querySelector(".gallery"),
          btnAddPhoto = document.querySelector("btn-add-photo"),
          filesSelected = document.querySelector(".file-selected"),
          btnPrevImage = document.querySelector(".btn-prev"),
          btnNextImage = document.querySelector(".btn-next");

          function handleForm(){
              const formData = new FormData();
              for(let img of inputFile.files){
                formData.append("images",img);
              }
              inputsData.forEach((el)=>{
                  if(el.name != "images")
                  {
                    formData.append(el.name, el.value);
                  }
              });
              const url = `/admin/mascotas/${gallery.getAttribute("id")}`;
              fetch(url,{
                method: "PUT",
                body: formData,
              }).then(result => {
                  if(result.ok)
                    window.location.reload();
                })
          } 

          formEditPet.addEventListener("submit", (e)=>{
              e.preventDefault();
              if(gallery.firstElementChild.tagName !== "SPAN")
                handleForm();
          });

          //Muestro la 1ra imagen y los botones de movimiento
          if(gallery.children.length > 0){
            gallery.firstElementChild.classList.add("picture-show");
            btnPrevImage.parentElement.style.display = "block";
          } 

          function handleDelete(node){
              //Mover al siguiente
              for (let p = 0; p < gallery.children.length; p++) {
                  let n = gallery.children[p];
                  if (n.classList.contains("picture-show")) {
                      idxGallery = p == gallery.children.length - 1 ? 0 : p;
                      break;
                  }
              }
              gallery.removeChild(node);
              if (gallery.childElementCount == 0) {
                gallery.innerHTML = "<span style = 'font-weight: 600;color: #4c4c4c;'>No ha seleccionado ninguna foto </span>";
                btnPrevImage.parentElement.style.display = "none";
              }
              gallery.children[idxGallery].classList.add("picture-show");
             
          } 

          const deletePhoto = async(ImgId) => {
              const id = gallery.getAttribute("id");
              const url = `${id}/image/${ImgId}`;
              const resp = await fetch(url,{
                method: 'DELETE'
              })
              if(resp.ok)
                return true;
              return false;
              //- console.log(resp);
          }
          for(let ch of gallery.children){
            const btn = ch.lastElementChild;
            if(btn.tagName === 'BUTTON'){
              btn.addEventListener("click", ()=>{
                const ImgId = ch.firstElementChild.getAttribute("id");
                if(deletePhoto(ImgId)){
                  handleDelete(ch);
                }
               });
            }
          }
          //Galeria de imagenes
          let idxGallery = 0;
          function moveGallery(dir) {
              if (!dir) {
                  let flag = 0;
                  for (idxGallery; idxGallery >= -1; idxGallery--) {
                      let node = gallery.children[idxGallery];
                      if (flag) {
                          if (idxGallery === -1) {
                              node = gallery.children[gallery.childElementCount - 1];
                              idxGallery = gallery.childElementCount - 1;
                          }
                          node.classList.add("picture-show");
                          flag = 0;
                          break;
                      }
                      if (node.classList.contains("picture-show")) {
                          node.classList.remove("picture-show");
                          flag = 1;
                      }
                  }
              } else {
                  let flag = 0;
                  for (idxGallery; idxGallery <= gallery.children.length; idxGallery++) {
                      let node = gallery.children[idxGallery];
                      if (flag) {
                          if (idxGallery === gallery.children.length) {
                              node = gallery.children[0];
                              idxGallery = 0;
                          }
                          node.classList.add("picture-show");
                          flag = 0;
                          break;
                      }
                      if (node.classList.contains("picture-show")) {
                          node.classList.remove("picture-show");
                          flag = 1;
                      }
                  }
              }
          }

          btnNextImage.addEventListener("click", function () {
            moveGallery(1);
          });
          btnPrevImage.addEventListener("click", function () {
            moveGallery(0);
          });

          inputFile.addEventListener("change", function () {
            let currentFiles = inputFile.files;
            if ( currentFiles.length === 0 && gallery.childElementCount === 0) {
              gallery.innerHTML ="<span style = 'font-weight: 600;color: #4c4c4c;'>No ha seleccionado ninguna foto </span>";
            } else {
              if (
                !gallery.childElementCount ||
                (currentFiles.length && !gallery.children[0] != "span")
              ) {
                gallery.innerHTML = "";
              }
              //muestro los botones si hay elementos
              if(currentFiles.length){
                btnPrevImage.parentElement.style.display = "block";
              }
              let flag = 0;
              for (let file of currentFiles) {
                let reader = new FileReader();

                reader.addEventListener("load", function (e) {
                  const node = document.createElement("div");
                  node.classList.add("picture");
                  node.innerHTML = `<img src=${reader.result} alt=''>`;
                  if (!flag) {
                      node.classList.add("picture-show");
                      flag = 1;
                  }
                  gallery.appendChild(node);
                });
                reader.readAsDataURL(file);
              }
            }
          });


        //- const filesSelected = document.querySelector(".file-selected");
        //- //Esto es para la seleccion de los archivos
        //- inputFile.addEventListener("change", function(){
        //-   filesSelected.innerHTML = "";
        //-   filesSelected.classList.remove("file-preview");
        //-   const currentFiles = inputFile.files;
        //-   if(currentFiles.length == 0){
        //-     filesSelected.innerHTML = "No ha seleccionado ningún archivo";
        //-   }
        //-   else{
        //-     let textPreview = "";
        //-     for(file of currentFiles){
        //-       textPreview += `<span>${file.name}</span> `;
        //-     }
        //-     filesSelected.innerHTML = `<h4> Ha seleccionado </h4> ${textPreview}`;
        //-     filesSelected.classList.add("file-preview");
        //-   }
        //- });