extends ./admin-layout.pug
block contenido
  div(class="container col-md-4 top-space")
    .d-flex.justify-content-center
      img(src=accesorie.images[0].url class="img-fluid img-thumbnail")
    form(action=`/admin/accesorios/${accesorie._id}?_method=PUT` method='POST' class="form-group" enctype="multipart/form-data")


      input(type="text" class="form-control" name="type"  placeholder="Tipo de accesorios" required value=accesorie.type)

      input(type="text" class="form-control" name="price" placeholder="Precio" value=accesorie.price)

      input(type="text" class="form-control" name="description" placeholder="Descripción" value=accesorie.description)

      input(type="text" class="form-control" name="cnt"  placeholder="Cantidad de articulos" value=accesorie.cnt)

      input(type="text" class="form-control" name="ownerName" placeholder="Nombre del dueño" required value=accesorie.ownerName)

      input(type="text" class="form-control" name="ownerPhone" placeholder="Télefono" required value=accesorie.ownerPhone)

      input(type="text" class="form-control" name="ownerAccount" placeholder="Cuenta bancaria" value=accesorie.ownerAccount)

      input(type="file" class="form-control" name="file" multiple)

      div(class="d-flex justify-content-sm-start justify-content-center")
        input(type="submit" class="btn btn-info" value="Guardar")