extends ./admin-layout.pug
block contenido
  main.main-admin
    button.btn.btn-go-back(onclick = "window.history.back()") 
      img(src="/public/img/admin/atras.webp" alt="")
      | Atras
    h3.main-title Editar Mascota
    label.btn.btn-add-photo(for="file-selector")
      img(src="/public/img/admin/camera.webp" alt="") 
      | Seleccionar Fotos
    section.gallery-section
      article.gallery(id = pet._id) 
        each img in pet.images
          .picture 
            img(id = img._id src=img.url)
            button.btn.btn-delete.btn-delete-photo
              img(src="/public/img/res/borrar.webp" alt="") 
      .gallery-move 
        button.btn.btn-prev(type="submit")
          img(src="/public/img/admin/atras.webp" alt="") 
        button.btn.btn-next(type="submit")
          img(src="/public/img/admin/adelante.webp" alt="")
    form(action=`/admin/mascotas/${pet._id}?_method=PUT` method='POST' class="form-group edit-article" enctype="multipart/form-data")
      .form-input-container
        input(type="text" class="form-input" name="type" placeholder="Tipo de animal"  value=pet.type.toUpperCase())
      .form-input-container
        input(type="text" class="form-input" name="breed" placeholder="Raza" value=pet.breed)
      .form-input-container
        select.form-input(name="sex")
          if pet.sex === "Masculino"
            option(value="Masculino" selected) Masculino
            option(value="Femenino") Femenino
          if pet.sex === "Femenino"
            option(value="Masculino") Masculino
            option(value="Femenino" selected) Femenino
      .form-input-container
        input(type="text" class="form-input" name="price" placeholder="Precio" value=pet.price)
      .form-input-container
        input(type="text" class="form-input" name="cnt" placeholder="Cantidad" value=pet.cnt)
      .form-input-container
        input(type="datetime-local " class="form-input" name="birthDay" placeholder="Año-Mes-Dia" value=pet.birthDay)
      .form-input-container
        input(type="text" class="form-input" name="description" placeholder="Descripción" value=pet.description)
      .form-input-container
        input(type="text" class="form-input" name="ownerName" placeholder="Nombre del dueño" required value=pet.ownerName)
      .form-input-container
        input(type="text" class="form-input" name="ownerPhone" placeholder="Télefono" required value=pet.ownerPhone)
      .form-input-container
        input(type="text" class="form-input" name="ownerAccount" placeholder="Cuenta bancaria" value=pet.ownerAccount)
      //- label.btn.select-file(for="file-selector") Seleccionar archivo
      //- div.file-selected  No ha seleccionado ningún archivo
      .form-input-container
        input.form-input(type="file" id="file-selector" multiple name="images" accept="image/*")

      .btn-save-container
        input(type="submit" class="btn btn-save" value="Guardar")
        a.btn.btn-cancel(href="/admin/mascotas") Cancelar
      script(src="/public/js/admin-article.js")
      script(src="/public/js/admin-edit-article.js")